@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

.client-down-contenair {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 1004px;
  max-width: 1004px;
  font-family: 'Open Sans';
  background-color: white;
}

.client-down-first-line {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.client-down-second-line {
  width: 100%;
  display: flex;
}

.client-down-third-line {
  display: flex;
  flex-direction: row;
  padding: 0px;
  gap: 20px;
}

.client-down-toggles {
  display: flex;
  /* width: 388px; */
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #34423E;
}

.remindersms-contenair {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  width: max-content;
}

.toggle-client-down-contenair {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  width: max-content;
}

.client-down-unknow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: max-content;
  gap: 4px;
}

.client-down-unknow p {
  width: max-content;
  white-space: nowrap;
  padding: 0px;
  margin: 0px;
  color: #5F706A;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}