.tinfo-enter {
  /* opacity: 0; */
  /* transform: scaleY(0); */
  max-height: 0px;
}

.tinfo-enter-active {
  /* opacity: 1; */
  /* transform: scaleY(1); */
  /* height: 48px; */
  max-height: 48px;
  transition: 200ms;
}

.tinfo-exit  {
  /* height: 48px; */
  /* transform: scaleY(1); */
  max-height: 48px;
}

.tinfo-exit-active {
  max-height: 0px;
  /* transform: scaleY(0); */
  transition: 200ms;
}