.c-e-main {
  position: relative; 
  display: flex;
  justify-content: space-between;
  height: 48px;
  width: 356px;
  gap: 4px;
  padding-left: 12px;
  padding-right: 8px;
  align-items: center;
  border-radius: 6px;
  background-color: white;
  border: 1px solid #ECEEED;
}