.client-container {
  padding-left: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;    
  box-sizing: border-box;
  width: 1044px;
  border: 1px solid #ECEEED;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  background-color: white;
  gap: 16px;
  transition: 2s;
  position: relative;
}

.client-wrapper-icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  top: 28px;
  left: 0px;
}