@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

.t-b-container {
  display: inline-block;
  border: 1px #ECEEED solid;
  border-radius: 6px;
  overflow: hidden;
}

.t-b-container > button:not(:first-child) {
  border-left: 1px #ECEEED solid;
}

.t-b-button {
  height: 48px;
  width: 100px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  border: none;
  outline: none;
  border-radius: 0px;
  padding: 16px 8px 16px 8px;
  cursor: pointer;
}