@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

.choice-date {
  display: flex;
  flex-direction: row;
  padding: 16px 12px;
  gap: 10px;
  border: 1px solid #ECEEED;
  border-radius: 6px;
  background-color: white;
  height: 48px;
  width: 300px;
  min-width: 300px;
  color: #34423E;
  cursor: pointer;
}