.grow-enter {
  overflow: hidden;
}

.grow-enter-active {
  overflow: hidden;
}

.grow-exit {
  overflow: hidden;
}

.grow-exit-active {
  overflow: hidden;
}

#children-contenair {
  width: 100%;
}
